*.tif
.DS_Store
.RData
.RDataTmp
.RHistory
.RProfile
Data/*
Data/.DS_Store
.RDataTmp*
gis_map_overlay/*
*.docx
species_specific_df/*.xlsx
photos_for_protocol/
species_specific_df/old_tables/*
old_scripts_data/*